/**
 Constricts the right image to fit the screen.
*/
#pic {
  width:95% !important;
  height:auto !important;
}

/**
 Constricts the width of the left table to a certain height, any excess must be scrolled through.
*/
#scroller {
  overflow:scroll;
  overflow-x:hidden;
  max-height:90vh;
}

body {
  overflow-x: hidden !important;
}